ADLS_ACCOUNT_NAME=your_azure_adls_account_name
ADLS_ACCOUNT_KEY=your_azure_adls_account_key
AZURE_TENANT_ID=your_azure_tenant_id
SNOWFLAKE_ACCOUNT=your_snowflake_account
SNOWFLAKE_USER=your_snowflake_user
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_ROLE=your_snowflake_role
SNOWFLAKE_WAREHOUSE=your_snowflake_warehouse
SNOWFLAKE_DATABASE=CLICKSTREAM_DB
SNOWFLAKE_SCHEMA=CLICKSTREAM
